= render 'markdown_setting_template', target: current_user
= form_tag set_markdown_user_path(current_user.id), remote: true, id: 'markdown-setting-global-form' do
  = hidden_field_tag 'id', current_user.id
  = hidden_field_tag 'global_uses_markdown', @uses_markdown, {id: 'global_uses_markdown'}
